@keyframes jelly {
  0% , 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9 ,1.1);
  }
  40% {
    transform: scale(0.8 ,1.2);
  }
  60% {
    transform: scale(1.1 , 0.9);
  }
  80% {
    transform: scale(1.1 , 0.9);
  }
}

@keyframes rot {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
