$type-list : (
      default : rgba(1,1,1,0.1),
        primary : blue,
        info : gray,
        success : green,
        warning : yellow ,
        danger : red
);

$st--color : white;
$st--background-color : transparent;
$st-border-radius-base : 4px;
$size-list : (
        //type : (padding-left  , padding-top ,font-size ,border-radius ,width , height ),
        defaults : ( 14px ,  0 , 28px,$st-border-radius-base,108px ,  72px),
        big : ( 11px ,  0 , 24px, $st-border-radius-base, 90px ,  60px),
        middle : ( 8px ,  0 ,20px, $st-border-radius-base, 72px ,  48px),
        small : ( 5px ,  0 , 16px,$st-border-radius-base, 48px ,  36px),
        mini : ( 2px ,  0 , 14px,$st-border-radius-base, 36px , 24px)
);
