$st--color : white;
$st--background-color : transparent;
$st-default-color : blue;
$st-info-color : gray;
$st-success-color : green;
$st-warning-color : yellow;
$st-danger-color : red;
$st-border-radius-base : 4px;
$st-button-padding-small-left: 2px;
$st-button-padding-small-top: 0;
$st-button-padding-middle-left: 8px;
$st-button-padding-middle-top: 0;
$st-button-padding-big-left: 14px;
$st-button-padding-big-top: 0;
$st-button-font-size-small: 12px;
$st-button-font-size-middle: 20px;
$st-button-font-size-big: 28px;
$st-button-border-radius-small : $st-border-radius-base;
$st-button-border-radius-middle : $st-border-radius-base;
$st-button-border-radius-big : $st-border-radius-base;
$st-button-width-small: 36px;
$st-button-width-middle: 72px;
$st-button-width-big: 108px;
$st-button-height-small : 24px;
$st-button-height-middle : 48px;
$st-button-height-big : 72px;
$st-tag-padding-small-left: 2px;
$st-tag-padding-small-top: 0;
$st-tag-padding-middle-left: 8px;
$st-tag-padding-middle-top: 0;
$st-tag-padding-big-left: 14px;
$st-tag-padding-big-top: 0;
$st-tag-font-size-small: 12px;
$st-tag-font-size-middle: 20px;
$st-tag-font-size-big: 28px;
$st-tag-border-radius-small : $st-border-radius-base;
$st-tag-border-radius-middle : $st-border-radius-base;
$st-tag-border-radius-big : $st-border-radius-base;
$st-tag-width-small: 36px;
$st-tag-width-middle: 72px;
$st-tag-width-big: 108px;
$st-tag-height-small : 24px;
$st-tag-height-middle : 48px;
$st-tag-height-big : 72px;