@import "mixin/mixin";
@import "common/function";
@import "common/var";
@include bem(back-top) {
  position: fixed;
  display: flex;
  overflow: hidden;
  user-select: none;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 12px 20px 9px;
  z-index: 100;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  @include add(default) {
    background-color: $st-default-color;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 40px;
    border-radius: 50%;
  }
  &:hover {
    animation: jelly 0.5s ease;
  }
  &:active {
    transform: scale(0.9);
  }
}
