:root {
  --st-windows-linght : 'white';
  --st-windows-drak : 'black';
  --st-windows-color : var(--st-windows-linght);
  --st-row-gutter : 0%;
  --st-windows-background : var(--st-windows-linght);
  --st-point-events : auto;
  pointer-events: var(--st-point-events);
}
$background : 'light';
#app {
  width: var(--st-windows-width);
  height: var(--st-windows-height);
  @if $background == 'drak' {
    --st-windows-background: var(--st-windows-drak);
    color: var(--st-windows-color);
  }@else {
    --st-windows-background: var(--st-windows-linght);
  }

}
