@import "mixin/mixin";
@include bem(card) {
  position: relative;
  width: 144px;
  height: 196px;
  transition: 200ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  &:active {
    transform: scale(0.9);
  }
  &:hover {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  @include add(article) {
     padding-left: 12px;
     overflow: hidden;
   }
  @include add(card) {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 640;
    color: white;
    @include add(opacify) {
      opacity: 0;
    }
    @include add(title) {
      padding-left: 12px;
      border-bottom: 1px solid snow;
      text-align: start;
      width: 100%;
    }

    @include add(description) {
      font-size: 20px;
      font-weight: bold;
      transition: 300ms ease-in-out;
      position: absolute;
      max-width: 108px;
    }
  }
  @include add(inner) {
     position: absolute;
     inset: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     transition: 700ms;
     background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);;
     color: white;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     &::before {
       content: '';
       filter: blur(2rem);
       opacity: 30%;
       width: 100%;
       height: 100%;
       position: absolute;
       z-index: -1;
       transition: 200ms;
     }
   }
  @include add(canvas) {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    grid-template-areas:
        "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
}
.tracker:hover ~ .st-card--inner .st-card--description {
  opacity: 0;
}
.tracker:hover ~ .st-card--inner .st-card--card {
  opacity: 1;
}
.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover ~ .st-card--inner {
  transition: 300ms;
  filter: brightness(1.1);
}
.st-card:hover .st-card--inner::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}
.tr-1 {
  grid-area: tr-1;
}
.tr-2 {
  grid-area: tr-2;
}
.tr-3 {
  grid-area: tr-3;
}
.tr-4 {
  grid-area: tr-4;
}
.tr-5 {
  grid-area: tr-5;
}
.tr-6 {
  grid-area: tr-6;
}
.tr-7 {
  grid-area: tr-7;
}
.tr-8 {
  grid-area: tr-8;
}
.tr-9 {
  grid-area: tr-9;
}
.tr-10 {
  grid-area: tr-10;
}
.tr-11 {
  grid-area: tr-11;
}
.tr-12 {
  grid-area: tr-12;
}
.tr-13 {
  grid-area: tr-13;
}
.tr-14 {
  grid-area: tr-14;
}
.tr-15 {
  grid-area: tr-15;
}
.tr-16 {
  grid-area: tr-16;
}
.tr-17 {
  grid-area: tr-17;
}
.tr-18 {
  grid-area: tr-18;
}
.tr-19 {
  grid-area: tr-19;
}
.tr-20 {
  grid-area: tr-20;
}
.tr-21 {
  grid-area: tr-21;
}
.tr-22 {
  grid-area: tr-22;
}
.tr-23 {
  grid-area: tr-23;
}
.tr-24 {
  grid-area: tr-24;
}
.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}
.tr-2:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}
.tr-3:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}
.tr-4:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}
.tr-5:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}
.tr-6:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}
.tr-7:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}
.tr-8:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}
.tr-9:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}
.tr-10:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}
.tr-11:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}
.tr-12:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}
.tr-13:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.tr-14:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}
.tr-15:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}
.tr-16:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}
.tr-17:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}
.tr-18:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}
.tr-19:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}
.tr-20:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}
.tr-21:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}
.tr-22:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}
.tr-23:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}
.tr-24:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}
.tr-25:hover ~ .st-card--inner {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}
