@import "mixin/mixin";
@import "common/var";
@include bem(pagination) {
  display: flex;
  & ul {
    list-style-type: none;
    overflow: hidden;

    & li {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      transition: font-size 0.3s ease;
      &:hover {
        color: nth($type-list , 1);
        font-size: 21px;
      }
      &:active {
        color: nth($type-list , 1);
        font-size: 14px;
      }
    }
    & > li:first-child {
      padding-left: 0;
    }
    & > li:last-child {
      padding-right: 0;
    }
  }
  @include add(item) {
    position: relative;
    flex: 1;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  @include add(disabled) {
    opacity: 0.6;
    cursor: not-allowed;
  }
  @include add(border) {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  }
}
