:root {
  --st-row-gutter : 0%
}
.st-row {
    display: inline-block;
    height: 100%;
    unicode-bidi: isolate;
& > div:nth-child(n) {
      margin-right: var(--st-row-gutter);
      margin-left: var(--st-row-gutter);
  }
& > div:first-child {
      margin-right: var(--st-row-gutter);
      margin-left: 0;
  }
&> div:last-child {
     margin-left: var(--st-row-gutter);
     margin-right: 0;
 }
}
.st--row--flex {
    display: flex;
    flex-wrap: wrap;
}
.st--row--justify--center {
    justify-content: center;
}
.st--row--justify--end {
    justify-content: flex-end;
}
.st--row--justify--start {
    justify-content: flex-start;
}
.st--row--justify--between {
    justify-content: space-between;
}
.st--row--justify--around {
    justify-content: space-around;
}
