@import "mixin/mixin";
@include bem(row){
    display: inline-block;
    height: 100%;
    unicode-bidi: isolate;
  & > div:nth-child(n) {
      margin-right: var(--st-row-gutter);
      margin-left: var(--st-row-gutter);
  }
  & > div:first-child {
      margin-right: var(--st-row-gutter);
      margin-left: 0;
  }
  &> div:last-child {
     margin-left: var(--st-row-gutter);
     margin-right: 0;
 }
  @include add(flex) {
    display: flex;
    flex-wrap: wrap;
  }
  @include add(justify) {
    @include add(center) {
      justify-content: center;
    }
    @include add(end) {
      justify-content: flex-end;
    }
    @include add(start) {
      justify-content: flex-start;
    }
    @include add(between) {
      justify-content: space-between;
    }
    @include add(around) {
      justify-content: space-around;
    }
  }
}

